In [170]:
print("Hello, World!")

Hello, World!

In [171]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [1]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

In [173]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [5]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (3430240237.py, line 3)

In [174]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [175]:
print("Hello, World!") #This is a comment

Hello, World!

In [176]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [177]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [178]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [179]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [180]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [181]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [182]:
x = "John"
# is the same as
x = 'John'

In [183]:
a = 4
A = "Sally"
#A will not overwrite a

In [184]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [7]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [185]:
myVariableName = "John" #camel
MyVariableName = "John" #pascal
my_variable_name = "John" #snake

In [186]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [187]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [188]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [189]:
x = "Python is awesome"
print(x)

Python is awesome

In [190]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [191]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [192]:
x = 5
y = 10
print(x + y)

15

In [9]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [193]:
x = 5
y = "John"
print(x, y)

5 John

In [194]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [195]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [196]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [197]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [198]:
x = 5
print(type(x))

<class 'int'>

In [199]:
x = "Hello World"	#str	
x = 20	#int	
x = 20.5	#float	
x = 1j	#complex	
x = ["apple", "banana", "cherry"]	#list	
x = ("apple", "banana", "cherry")	#tuple	
x = range(6)	#range	
x = {"name" : "John", "age" : 36}	#dict	
x = {"apple", "banana", "cherry"}	#set	
x = frozenset({"apple", "banana", "cherry"})	#frozenset	
x = True	#bool	
x = b"Hello"	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview	
x = None	#NoneType

In [200]:
x = str("Hello World")	#str	
x = int(20)	#int	
x = float(20.5)	#float	
x = complex(1j)	#complex	
x = list(("apple", "banana", "cherry"))	#list	
x = tuple(("apple", "banana", "cherry"))	#tuple	
x = range(6)	#range	
x = dict(name="John", age=36)	#dict	
x = set(("apple", "banana", "cherry"))	#set	
x = frozenset(("apple", "banana", "cherry"))	#frozenset	
x = bool(5)	    #bool	
x = bytes(5)	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview

In [201]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [202]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [203]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [204]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [205]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [206]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [207]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [208]:
import random

print(random.randrange(1, 1000))

344

In [209]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [210]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [211]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [212]:
print("Hello")
print('Hello')

Hello
Hello

In [213]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [214]:
a = "Hello"
print(a)

Hello

In [215]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [216]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [217]:
a = "Hello, World!"
print(a[1])

e

In [218]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [219]:
a = "Hello, World!"
print(len(a))

13

In [220]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [221]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [222]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [223]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [224]:
b = "Hello, World!"
print(b[2:5])

llo

In [225]:
b = "Hello, World!"
print(b[:5])

Hello

In [226]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [227]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [228]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [229]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [230]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [231]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [232]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [233]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [234]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [235]:
age = 36 #it should be str
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

In [ ]:
txt = f"The price is {20 * 59} dollars"
print(txt)

In [11]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

'''
\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value
'''